<html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
       <h1>Reset Password Success</h1>
       <button>Go Home</button>

    </body>
</html>