<html>
    <head>
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
         <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                   
                    <p class="subtitle has-text-black">Reset your password</p>
                    <div class="box">
                        
                        <form id="my-form" method="get">
                            <div class="field">
                                  <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="email" placeholder="Email">
                                    
                                   
                                  </p>
                                </div>
                                <div class="field">
                                  <p class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Password">
                                    
                                  </p>
                                </div>
                           
                           
                            <button type="button" onclick="resetPassword()"
                                class="button is-block is-success is-fullwidth">Reset Password</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
        
    </body>
     
   
    <script type="text/javascript">
             function resetPassword() {
                const params = new URLSearchParams(window.location.search);
                let URL = window.location.protocol + "//" + window.location.host + "/" + "api/Account/resetuserpassword";
                 let homeURL = window.location.protocol + "//" + window.location.host + "/";

                let token;

                let obj = {
                    Token : "",
                    UserName: "",
                    Password: ""
                };

                 if (params.has('token')) {
                    obj.Token = params.get('token');
                }


                const form = document.getElementById('my-form');
                Array.from(form.elements).forEach(element => {
                  
                    if (element.type !== "button") {
                        if (element.type === "email") {
                        obj.UserName = element.value;
                        }
                        if (element.type === "password") {
                            obj.Password = element.value;
                        }
                    }
                    
                });

                 console.log(URL);
                fetch(URL, {
                      method: 'POST',
                        headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                        },
                    body: JSON.stringify(obj)
                    })
                    .then(result => {
                       window.location.href = "/login";
                    })
                  .catch(error => console.log(error))

            }
        </script>
</html>